* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background-color: #f3f3f3;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  --red: #EF322B;
}

.slider {
  overflow: hidden;
  max-height: max-content;
  position: relative;

  ul {
    display: flex;

    li {
      list-style-type: none;
      flex-basis: 100%;
      flex-shrink: 0;
      flex-grow: 1;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .btn__left, .btn__right {
    width: 50px;
    height: 50px;
    stroke: #ffff;
    stroke-width: 2;
    fill: none;

    &:hover {
      cursor: pointer;
      stroke: var(--red);
    }
  }

  .btn__left {
    position: absolute;
    bottom: 50%;
    left: 2%;
    transform: translateY(50%);
  }

  .btn__right {
    position: absolute;
    bottom: 50%;
    right: 2%;
    transform: translateY(50%);
  }

  .bullets {
    display: flex;
    justify-content: space-between;
    width: 30%;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);

    &__item {
      width: 16px;
      fill: white;
      fill-opacity: .6;

      &.active {
        fill: var(--red);
        fill-opacity: 1;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}


