* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background-color: #f3f3f3;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  overflow: hidden;
  max-height: max-content;
  position: relative;

  ul {
    display: flex;

    li {
      list-style-type: none;
      flex-basis: 100%;
      flex-shrink: 0;
      flex-grow: 1;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .left, .right {
    width: 50px;
    height: 50px;

    &:hover {
      cursor: pointer;
    }
  }

  .left {
    position: absolute;
    bottom: 50%;
    left: 2%;
    transform: translateY(50%);
  }

  .right {
    position: absolute;
    bottom: 50%;
    right: 2%;
    transform: translateY(50%);
  }

  .arrow {
    stroke: white;
    stroke-width: 2px;
    fill:transparent;

    polyline {
      stroke-width: 4px;
    }
  }

  .bulletsForImages {
    display: flex;
    justify-content: space-between;
    width: 30%;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);

    &__bullet {
      width: 16px;
      fill: white;
      fill-opacity: .6;
    }
  }
}


